/*
    1. Posicionamiento
    2. Modelo caja (Box model)
    3. Tipografía
    4. Visuales
    5. Otros
*/

:root {
    /* colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFF;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    align-self: center;
    text-align: center;
}

.header--title-container h1 {
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.rem;
}

.header--title-container p {
    color: var(--soft-orange);
    font-size: 1.4em;
    margin-top: 25px;
    font-weight: 500;
    line-height: 1.6rem;
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 36px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    border-radius: 4px;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89 , 73, 30, 0.16);
    scroll-snap-stop: 700;
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.backgroundImg {
    background-image: url('./assets/img/Bitcoin.svg');
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container-title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container-title h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    margin-bottom: 2.4rem;
    color: var(--black);
}

.main-exchange-container-title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
    margin-bottom: 4.8rem;
}

.currency-table-title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-bottom: 1.5rem;
}

.monedas {
    color: var(--bitcoin-orange);
}

.comisiones {
    color: var(--secundary-blue);
}

.currency-table--date {
    width: 173px;
    height: 31px;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    display: flex;
}

.moneda-date{
    background-color: var(--soft-orange);
    color: var(--black);
}

.comisiones-date {
    background-color: var(--soft-blue);
}

.currency-table--date b {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.currency-table--date p {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.arrow-down {
    background-image: url('./assets/icons/trending-down.svg');
    display: inline-block;
    width: 12px;
    height: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arrow-up {
    background-image: url('./assets/icons/trending-up.svg');
    display: inline-block;
    width: 12px;
    height: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.currency-table-container {
    width: 90%;
    min-height: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 1.6rem;
}

.currency-table-container table {
    width: 100%;
    height: 100%;
}

.currency-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table-container .table__right {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table-container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table-container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table-container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table-container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.main-tables-container{
    display: flex;
    height: 390px;
    margin: 0 calc(50% - 35%);
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main-product-detail {
    background-color: var(--warm-black);
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 4.6rem;
    min-height: 320px;
}

.batata {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('./assets/icons/batata.svg');
}

.product-cards--container {
    background-color: #282623;
    display: flex;
    height: 152px;
    min-width: 270px;
    width: 85vw;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 1.6rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-product-detail h2 {
    color: var(--just-white);
    font-size: 2.4rem;
    padding-top: 6.4rem;
    min-width: 280px;
    font-weight: 700;
    line-height: 2.6rem;
}

.main-product-detail-parraf {
    color: #808080;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 3.2rem;
    margin-top: 2.4rem;
    min-width: 280px;
    font-weight: 500;
}

.product-detail--card {
    width: 85%;
    display: inline-block;
    text-align: start;
}

.product--card-title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: var(--off-white);
    margin-top: 1.2rem;
}

.product--card-body {
    font-size: 1.4rem;
    margin-top: 1.0rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card .icon-card {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.clock {
    background-image: url('./assets/icons/clock.svg');
}

.eye {
    background-image: url('./assets/icons/eye.svg');
}

.dollar {
    background-image: url('./assets/icons/dollar-sign.svg');
}

.check {
    background-image: url('./assets/icons/check-circle.svg');
}

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin-img-container  h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--just-white);
    padding-top: 6.4rem;
    text-align: center;
}

.main-plans-container {
    height: auto;
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans-title {
    padding-top: 64px;
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 50px;
}

.plans-title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans-title p {
    padding-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 15px 20px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89 , 73, 30, 0.16);
}

.plans-container--card .plan-container-plans {
    width: 101px;
    height: 31px;
    display: flex;
    position: absolute;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--just-white);
    align-items: center;
    justify-content: center;
    text-align: center;
    top: -15px;
    left: calc( 50% - 50px);
}

.plan-info-container {
    padding-top: 31px;
}

.plan-card--title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #000000;
}

.plan-card--price span {
    font-family: 'Inter', sans-serif;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-right: 4px;

}

.plan-card--price {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 5.2rem;
    margin-bottom: 16px;
    line-height: 6.3rem;    
}

.plan-card--saving {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #757575;
    text-align: center;
    margin-bottom: 16px;
}

.plan-card--calltoaction {
    width: 150px;
    height: 48px;
    background-color: var(--off-white);
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--black);
}

.plan-card--calltoaction span {
    background-image: url('./assets/icons/orange-right-arrow.svg');
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    margin-left: 8px;
}

.recomended-call {
    border: 2px solid var(--bitcoin-orange);
}

.black-call {
    border: 3px solid var(--bitcoin-orange);
}

.standard-call {
    border: 2px solid var(--warm-black)
}

.recomended {
    background-color: var(--bitcoin-orange);

}

.black {
    background-color: var(--black);
}

.standard {
    background-color: var(--warm-black);
    border: 2px solid var(--bitcoin-orange);
}

footer {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    display: inline-block;
    background-color: var(--bitcoin-orange);
}

footer .social-media {
    display: inline-block;
    margin-top: 40px;
    margin-left: 65px;
    color: var(--just-white);
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
}

footer .batatabit {
    display: inline-block;
}

footer .batatabit span {
    height: 24px;
    width: 41px;
    display: block;
    background-image: url('./assets/icons/batata.svg');
    background-size: cover;
    margin-left: 64px;
    background-position: center;
    background-repeat: no-repeat;
}

footer .batatabit p {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
    margin-left: 52px;
}

@media (min-width: 930px) {
    .product-cards--container {
        display: inline-block;
        width: 40vw;
        max-width: 600px;
        margin: 20px 10px 0 0;
        padding-top:20px;
    }
}

@media (min-width: 1020px){
    .plans-container--slider {
        justify-content: center;
    }
}